@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.countdown-page {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  padding: 3rem;
  width: fit-content;
}

.timer {
  flex-direction: column;
  padding-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2.5rem;
}

.timer span {
  font-size: 8rem;
  margin-left: 0.4rem;
  font-family: 'Roboto', sans-serif;
}

.dateOfPay {
  padding-bottom: 3rem;
}

#header {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
