@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page-section {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;

}

.countdown-page {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  padding: 3rem;
  width: 700px;
  background: #007991;
  background: -webkit-linear-gradient(to right, #007991, #78ffd6);
  background: linear-gradient(to right, #007991, #78ffd6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
}

.timer {
  color: white;
  flex-direction: column;
  padding-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3rem;
}

.timer span {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 3.2rem;
  margin-left: 0.8rem;
  font-family: 'Roboto', sans-serif;

}

#header {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: left;
}
