.page-section {
  display: flex;
  margin: auto;
  padding-top: 3rem !important;
  justify-content: space-evenly;
  margin: auto;
}
.countdown-page {
  padding: 3rem !important;
  background: #007991;
  background: -webkit-linear-gradient(to right, #007991, #78ffd6);
  background: linear-gradient(to right, #007991, #78ffd6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 1rem !important;
  box-sizing: border-box;
  text-align: center !important;
  margin-bottom: 3rem !important;
  width: 700px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  text-transform: uppercase !important;
  margin-left: 0.8rem;
}

.timer {
  color: white;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.5rem !important;
}

.timer span {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  margin-left: 0.8rem;
}

#header {
  font-size: 25px;
  color: white;
}
