@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nirmala UI", sans-serif;
  background: #801d1d;
  background: -webkit-linear-gradient(to right, #a55858, #801d1d);
  background: linear-gradient(to right, #a55858, #801d1d);
}
